/testerxp/testerxp-api/.idea/
/testerxp/testerxp-api/testerxp-core.iml
/testerxp/testerxp-front/.idea/
/testerxp/testerxp-front/testerxp-front.iml
/testerxp/testerxp-worker-e2e/.idea/
/testerxp/testerxp-worker-e2e/testerxp-worker-e2e.iml
/testerxp/testerxp-reporter/.idea/
/testerxp/testerxp-reporter/testerxp-reporter.iml
/Proyecto-MISO4208.iml
/.idea/
# dependencies
/node_modules
testerxp/testerxp-api/node_modules/
**/logs
**/node_modules/
**/errorShots
testerxp/testerxp-api/.env
