/testerxp/testerxp-core/.idea/
/testerxp/testerxp-core/testerxp-core.iml
/testerxp/testerxp-front/.idea/
/testerxp/testerxp-front/testerxp-front.iml
/testerxp/testerxp-worker-e2e/.idea/
/testerxp/testerxp-worker-e2e/testerxp-worker-e2e.iml
/testerxp/testerxp-reporter/.idea/
/testerxp/testerxp-reporter/testerxp-reporter.iml
