<%- include('./header'); -%>
<div class="container-fluid text-center">
  <h1 class="display-3">TEST</h1>
  <form action="/versions/file" method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <label for="exampleFormControlFile1">Example file input</label>
      <input type="file" class="form-control-file" id="exampleFormControlFile1 ">
      <input type="submit" value="Upload File" name="submit">
    </div>
  </form>
</div>

<%- include('./footer'); -%>