<div class="row">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Ejecución #[ID_EJECUCION]</h4>
            </div>
        </div>
        [CONTENT_EJECUCION]
        <div class="row">
            <a data-toggle="collapse" href="#id_vrt_[ID_EJECUCION]" aria-expanded="false" aria-controls="id_vrt_[ID_EJECUCION]">
                <div class="col-md-12">
                    <h5 class="bold-500">VRT</h5>
                    <h5 class="bold-400">Comparación</h5>
                </div>
            </a>
        </div>
        <div class="collapse" id="id_vrt_[ID_EJECUCION]">
            <div class="card card-body">
                <div class="[SHOW_VRT]"></div>
                [CONTENT_VRT]
            </div>
        </div>
    </div>
</div>