<div class="row">
    <a data-toggle="collapse" href="#id_[ID_VERSION]" aria-expanded="false" aria-controls="id_[ID_VERSION]">
        <div class="col-md-12">
            <h5 class="bold-500">Navegador [NAME_NAVEGADOR]</h5>
            <h5 class="bold-400">Versión - [NAME_VERSION]</h5>
        </div>
    </a>
</div>
<div class="collapse" id="id_[ID_VERSION]">
    <div class="card card-body">
        <div class="[SHOW_IMAGEN]">
            <div class="row">
                <div class="col-md-12">
                    <h5>Evidencias registradas en imagen</h4>
                </div>
            </div>
            <div class="row"><br /></div>
            [CONTENT_IMAGEN]
            <div class="row"><br /></div>
        </div>
        <div class="[SHOW_VIDEO]">
            <div class="row">
                <div class="col-md-12">
                    <h5>Evidencias registradas en video</h4>
                </div>
            </div>
            <div class="row"><br /></div>
            [CONTENT_VIDEO]
            <div class="row"><br /></div>
        </div>
        <div class="[SHOW_TXT]">
            <div class="row">
                <div class="col-md-12">
                    <h5>Evidencias registradas en texto</h4>
                </div>
            </div>
            <div class="row"><br /></div>
            [CONTENT_TXT]
            <div class="row"><br /></div>
        </div>
        <div class="[SHOW_JSON]">
            <div class="row">
                <div class="col-md-12">
                    <h5>Informes registrados en JSON</h4>
                </div>
            </div>
            <div class="row"><br /></div>
            [CONTENT_JSON]
            <div class="row"><br /></div>
        </div>
        <div class="[SHOW_HTML]">
            <div class="row">
                <div class="col-md-12">
                    <h5>Informes generados en HTML</h4>
                </div>
            </div>
            <div class="row"><br /></div>
            [CONTENT_HTML]
            <div class="row"><br /></div>
        </div>
    </div>
</div>