<div class="row">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Ejecución #</h4>
            </div>
        </div>
        <div class="[SHOW_IMAGEN]">
            <div class="row">
                <div class="col-md-12">
                    <h5>Evidencias registradas en imagen</h4>
                </div>
            </div>
            <div class="row"><br /></div>
            [CONTENT_IMAGEN]
            <div class="row"><br /></div>
        </div>
        <div class="[SHOW_VIDEO]">
            <div class="row">
                <div class="col-md-12">
                    <h5>Evidencias registradas en video</h4>
                </div>
            </div>
            <div class="row"><br /></div>
            [CONTENT_VIDEO]
            <div class="row"><br /></div>
        </div>
        <div class="[SHOW_JSON]">
            <div class="row">
                <div class="col-md-12">
                    <h5>Informes registrados en JSON</h4>
                </div>
            </div>
            <div class="row"><br /></div>
            [CONTENT_JSON]
            <div class="row"><br /></div>
        </div>
        <div class="[SHOW_HTML]">
            <div class="row">
                <div class="col-md-12">
                    <h5>Informes generados en HTML</h4>
                </div>
            </div>
            <div class="row"><br /></div>
            [CONTENT_HTML]
            <div class="row"><br /></div>
        </div>
    </div>
</div>